
<h1>Welcome to the To Do List!</h1>
<p><a href="/categories/new">Add a new category.</a></p>
<p><a href='/categories'>See list of categories</a></p>

@* <h1>Welcome to the To Do List!</h1>
<a href='/items/new'>Add a new item</a>
<a href='/items'>See list of items</a> *@